<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Splash entry point -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/AppTheme.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main navigation page -->
        <activity android:name=".MainActivity" />

        <!-- Classic compatibility demo -->
        <activity android:name=".SimpleActivity" />

        <!-- Animation control page -->
        <activity android:name=".animation.AnimationControlActivity" />

        <!-- Ad skip scenario -->
        <activity android:name=".scene.adskip.AdSkipSceneActivity" />

        <!-- Verification code timer scenario -->
        <activity android:name=".scene.verifycode.VerifyCodeSceneActivity" />

        <!-- Progress restore scenario -->
        <activity android:name=".scene.resume.ResumeProgressSceneActivity" />

        <!-- Exam timer scenario -->
        <activity android:name=".scene.exam.ExamTimerSceneActivity" />

    </application>

</manifest>
